

:root {
	--base-blanco-nieve: #FDFEFF;
  --contraste-gris-perla: #EFF1F3;
  --texto-carbon: #1A202C;
  --texto-pizarra: #718096;
  --acento-azul-profundo: #0B5394;
  --acento-teal: #319795;
  --acento-emergencia: #CC3333;
  --acento-violeta: #6D28D9;
  --theme-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
@font-face {
	font-family: "Outfit";
	src: url('/fonts/Outfit-VariableFont_wght.ttf');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_opsz,wght.ttf');
	font-style: normal;
	font-display: swap;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Outfit", sans-serif;
}
