---
const today = new Date();
import { FaInstagram } from "react-icons/fa";
import { FaGithub } from "react-icons/fa";
---

<footer class="footer">
		<span>&copy; {today.getFullYear()} Lizardiz Nexus. Todos los derechos reservados.</span>
    <h5> Redes Sociales </h5>
    <div class="footer__container">
      <div class="footer__social-container">
        <div class="social-container">
          <FaInstagram class="social-icon"/>
          <a href="https://www.instagram.com/lizardiznexus/" target="blank">Instagram</a>
        </div>
        <div class="social-container">
          <FaGithub class="social-icon"/>
          <a href="https://github.com/Pipoo-py" target="blank">Github</a>
        </div>
      </div>
    </div>
</footer>

<style>
	.footer{
		margin-top: auto;
		width: 100%;
		background-color: var(--contraste-gris-perla);
		display: flex;
		flex-direction: column;
	}
	.footer span{
		margin: 0 auto;
		padding: 24px;
	}
	.footer h5{
  text-align: center;
  font-size: clamp(1.5rem, 50dvw, 2.5rem);
  color: var(--acento-teal);
}

.footer__social-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  padding: 24px;
}

.social-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: .8rem;
  padding: 8px;
  border-radius: 6px;
  transition: background-color .3s, color .3s;
}

.social-container:hover{
  background-color: var(--acento-azul-profundo);
  color: var(--base-blanco-nieve);
}

.social-container:hover a{
  color: var(--base-blanco-nieve);
}

.social-container a{
  color: var(--texto-carbon);
  text-decoration: none;
  transition: background-color .3s, color .3s;
}

.social-icon{
  font-size: clamp(1.2rem, 50dvw, 1.4rem);
}

body.dark .social-container a{
  color: var(--contraste-gris-perla);
}
</style>

