---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import { Header } from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, updatedDate } = Astro.props;
console.log(pubDate);
const schemaData = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": title,
  "datePublished": pubDate,
  "author": {
    "@type": "Person",
    "name": "Alejandro Salazar Lizardiz",
    "url": "https://lizardiznexusblog.netlify.app/about"
  }
};
---


<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
		<script type="application/ld+json">{JSON.stringify(schemaData)}</script>
	</head>

	<body>
		<Header client:load />
		<main class="main-post">
			<article class="article-post">
				<h1 class="article-title">{title}</h1>
					<slot />
			</article>
		</main>

		<Footer />
	</body>
</html>
